# Test data
unittests/testdata/target
unittests/testdata/**/*.c
unittests/testdata/**/*.cc
unittests/testdata/**/*.h
unittests/testdata/**/*.cpp
unittests/testdata/shellcode*

# Clion settings
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/